.grid {
    display: table;
    border-collapse: collapse;
    position: relative;
}

.grid-container {
    overflow-x: scroll;
    width: 75vw;
    height: 75vh;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 50px;
    height: 25px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.cell:hover {
    background-color: #eee;
}

.cell--active {
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
  }

.bold-column {
    border-right: 2px solid black;
    font-weight: bold;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: red;
    animation: none;
}

@keyframes moveBar {
    0% {
        left: 0;
    }
    100% {
        left: 500vw; /* Adjust the width of the grid container in pixels */
    }
}